module.exports = {
    dobiss: {
        // NOTE: this whole object maps to the first argument of socketInstance.connect
        // https://nodejs.org/api/net.html#net_socket_connect_options_connectlistener
        host: '10.0.0.8',
        port: 10001
    },
    mqtt: {
        // TODO: When tweaking authentication support for MQTT look into how we can add other parameters.
        //       I prefer something which just maps 1:1.
        url: 'mqtt://host'
    },
    // This is the configuration for your relays.
    // It's basically an array with the first relaying being the first item in the array.
    // The item are arrays which in turn contain the outputs.
    // The outputs (or lights in my case) are just represented as strings which are used to give them their names.
    relays: [
        // first relay
        [
            // first output
            "berging",
            "koele_berging",
            "wc",
            "inkomhal",
            "inkomdeur",
            "salon",
            "eetplaats",
            "keuken",
            "terras",
            "badkamer",
            "master_bedroom",
            "dressing"
        ],
        // second relay
        [
            // first output
            "nachthal",
            "office",
            "fitness",
            "traphal",
            "zolder_1",
            "zolder_2",
        ]
    ]
}
