// See README.md for more info on this.
module.exports = {
    dobiss: {
        // NOTE: this whole object maps to the first argument of socketInstance.connect
        // https://nodejs.org/api/net.html#net_socket_connect_options_connectlistener
        host: '10.0.0.8',
        port: 10001,
        interface: 'AMBIANCEPRO'
    },
    mqtt: {
        // TODO: When tweaking authentication support for MQTT look into how we can add other parameters.
        //       I prefer something which just maps 1:1.
        url: 'mqtt://host'
    },
    // Can also be 0 to filly disable automated polling. we will only poll once after every action.
    // Downside is then that the state will not be correct if you use your wall switches to toggle the outputs.
    pollIntervalInMs: 1000,
    modules: [
        {
            // For now only "relay" works. So we can only turn outputs on or off.
            // But these might be supported in the future: "dimmer", "0-10v"
            type: 'relay',
            // Either manually set the number of the relay or let dobiss2mqtt set the number automatically
            // depending on the order of the module in the array.
            number: 1,
            // The outputs (or lights in my case) are just represented as strings which are used to
            // give them their names.
            outputs: [
                "berging",
                "koele_berging",
                "wc",
                "inkomhal",
                "inkomdeur",
                "salon",
                "eetplaats",
                "keuken",
                "terras",
                "badkamer",
                "master_bedroom",
                "dressing"
            ]
        },
        {
            type: 'relay',
            outputs: [
                "nachthal",
                "office",
                "fitness",
                "traphal",
                "zolder_1",
                "zolder_2",
            ]
        },
    ]
}
